table {
    width: 100%;
}

#Seccion {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
}

.form-group input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    width: 100%;
}


.container {
    margin-top: 10px;
}

th, td {
      vertical-align: middle !important;
      
}

th.month {
    text-align: center;
    font-size: 14px;
  }

th.wider-column {
    width: 25%;
}

th.narrow-column {
    width: 15%;
}