<div class = "container">

    <!--Tabla de entrys-->

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let elemento of elementos; let i = index">
          <div class="form-group d-flex">
            <label for="elemento{{i+1}}" class="mr-2">{{elemento}}:</label>
            <input type="text" class="form-control" id="elemento{{i+1}}">
          </div>
        </div>
      </div>
    </div>
    
    

    <!--Tabla-->
    <div class="container">
      <table class="table table-bordered">
        <thead class="bg-dark text-white">
          <tr class = "text-center">
            <th rowspan="2" class="align-middle wider-column">Empleado</th>
            <th rowspan="2" class="align-middle wider-column">Cuenta Ingreso</th>
            <th rowspan="2" class="align-middle wider-column">Vehiculo Gastos</th>

            <th colspan="3" class="month narrow-column">
              <div class="d-flex align-items-center justify-content-between">
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                  <mat-icon>chevron_left</mat-icon>
                </button>
                <span class="text-center">Meses</span>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                  <mat-icon>chevron_right</mat-icon>
                </button>
              </div>
            </th>
            


            <th rowspan="2" class="align-middle narrow-column">Total</th>
          </tr>
          <tr>
            <th class="month ">Enero</th>
            <th class="month ">Febrero</th>
            <th class="month ">Marzo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Contenido 1</td>
            <td>Contenido 2</td>
            <td>Contenido 3</td>
            <td>Contenido 4</td>
            <td>Contenido 5</td>
            <td>Contenido 6</td>
            <td>Contenido 7</td>
          </tr>
          <!-- Puedes agregar más filas aquí -->
        </tbody>
      </table>
    </div>
  
    
    
  
</div>