<div class = "container">

    <!--Tabla de entrys-->

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let elemento of elementos; let i = index">
          <div class="form-group d-flex">
            <label for="elemento{{i+1}}" class="mr-2">{{elemento}}:</label>
            <input type="text" class="form-control" id="elemento{{i+1}}">
          </div>
        </div>
      </div>
    </div>
    
    

    <!--Tabla-->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <!-- Primera tabla -->
          <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Columnas -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">{{element.position}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef>Weight</th>
              <td mat-cell *matCellDef="let element">{{element.weight}}</td>
            </ng-container>
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef>Symbol</th>
              <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
            </ng-container>
            <!-- Filas -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div> <!-- Mueve el cierre de la etiqueta div aquí -->

        
        <div class="col-lg-6 col-md-6 col-sm-12">
          <!-- Segunda tabla con los meses como cabecera -->
          
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Segunda tabla con los meses como cabecera -->
                <div class="table-responsive">
                  <table mat-table class="mat-elevation-z8 " >
                    <ng-container *ngFor="let month of meses" matColumnDef="{{month}}">
                      <th mat-header-cell *matHeaderCellDef>{{month}}</th>
                      <td mat-cell *matCellDef="let element">{{element[month]}}</td>
                    </ng-container>
          
                    <tr mat-header-row *matHeaderRowDef="meses"></tr>
                    <tr mat-row *matRowDef="let element; columns: meses;"></tr>
                  </table>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Tercera tabla con la cabecera "Total" -->
                <div class="table-responsive">
                  <table mat-table class="mat-elevation-z8 table-small">
                    <ng-container matColumnDef="total">
                      <th mat-header-cell *matHeaderCellDef>Total</th>
                      <td mat-cell *matCellDef="let element">{{element.total}}</td>
                    </ng-container>
          
                    <tr mat-header-row *matHeaderRowDef="['total']"></tr>
                    <tr mat-row *matRowDef="let element; columns: ['total']"></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
          
          

        </div>
      </div>
    </div>
    
         
        
         
        
   
    
    
      
      
</div>